---
import { navigation } from "../../config";
import NavigationItem from "./NavigationItem.astro";
---

<div
  class="flex flex-col w-64 px-2 py-4 bg-white border border-black/10 rounded m-8"
>
  {navigation.map((item) => <NavigationItem key={item.title} item={item} />)}
</div>
